<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Clear</title>
</head>

<body>
    <h1>Clear database</h1>
    <form action="https://talented-duck-ring.cyclic.app/processClear" method="post">
    <input type="submit" value="Clear database"></form>
    <br>
    <a href="https://talented-duck-ring.cyclic.app/">Go back to home page</a>
</body>
