<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" /> 
	<title>Arknights Operators</title> 
</head>

<body>
    <p>Added operator: <%- name %></p>
    <a href="https://talented-duck-ring.cyclic.app/">Submit another operator</a>
</body>