<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" /> 
	<title>Arknights Operators</title>
</head>

<body>
    <div style="background-image: url('wdance.gif');">
        <h1>Arknights Operator Block Count Sum</h1>
        <h2>Create a list of operators and find the sum of their block counts</h2>
        <form action="https://talented-duck-ring.cyclic.app/confirm" method="post">
            <fieldset>
                <legend>
                    <strong>Choose an operator: </strong>
                </legend>
                <label>List of operators: </label>
                <select name="ops" id="ops">
                    <option value="Texas">Texas</option>
                    <option value="Nearl">Nearl</option>
                    <option value="Exusiai">Exusiai</option>
                    <option value="Lappland">Lappland</option>
                    <option value="Ch'en">Ch'en</option>
                    <option value="Kal'tsit">Kal'tsit</option>
                    <option value="Elysium">Elysium</option>
                    <option value="Myrtle">Myrtle</option>
                    <option value="Thorns">Thorns</option>
                    <option value="Asbestos">Asbestos</option>
                    <option value="Gravel">Gravel</option>
                    <option value="Cement">Cement</option>
                    <option value="Tequila">Tequila</option>
                    <option value="Gummy">Gummy</option>
                </select> <br><br>
                <input type="submit" value="Add operator to list">
            </fieldset>
        </form>
        <br><br>
        <a href="/sum">Find sum of block count here</a>
    </div>
</body>

</html>