<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" /> 
	<title>Arknights Operators</title> 
</head>

<body>
    <h1>Arknights Operator Block Count Sum</h1>
    <h2>Create a list of operators and find the sum of their block counts</h2>
    <form action="https://talented-duck-ring.cyclic.app/confirm" method="post">
        <fieldset>
            <legend>
                <strong>Choose an operator: </strong>
            </legend>
            <label>List of operators: </label>
            <select name="ops" id="ops">
                <option value="texas">Texas</option>
                <option value="nearl">Nearl</option>
                <option value="exusiai">Exusiai</option>
                <option value="lappy">Lappland</option>
                <option value="chen">Ch'en</option>
                <option value="kaltsit">Kal'tsit</option>
                <option value="elysium">Elysium</option>
                <option value="myrtle">Myrtle</option>
                <option value="thorns">Thorns</option>
                <option value="asbestos">Asbestos</option>
                <option value="gravel">Gravel</option>
                <option value="cement">Cement</option>
                <option value="tequila">Tequila</option>
                <option value="gummy">Gummy</option>
            </select>
        </fieldset>
        <input type="submit" value="Add operator to list">
    </form>
    <br><br>
    <a href="/sum">Find sum of block count here</a>
</body>

</html>