<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
	    <title>Clear</title>
    </head>
    <body>
        All entries have been removed from the database. Number of applications removed: <%- number %>
        <br>
        <br>
        <a href="https://talented-duck-ring.cyclic.app/">Submit another operator or calculate sum</a>
    </body>
</html>